[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/imgui/imgui"]
	path = third_party/imgui/imgui
	url = https://github.com/ocornut/imgui
